.todo-app {
  max-width: 400px;
  margin: 2rem auto 0 auto;
}

.top-panel {
  margin: 1rem 0;
}
* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body{
  width: 100%;
  height: 100vp;
  background: url("./3.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

footer{
  margin-top: 240px;
  width: 100%;
  background: black;
  height: 58px;
  font-size: 28px;
}
footer > i {
  padding: 10px;
  color: whitesmoke;
  cursor: pointer;
}