
.random-planet {
  display: flex;
  justify-content: center;
  padding: 1rem;

  border: 1px solid #444444;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  margin-right: 1rem;

  border-radius: 10px;
}

.random-planet .list-group {
  margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: 0.25rem;
}

.random-planet .list-group-item .term {
  margin-right: 0.5rem;
}
.title {
  margin: 8%;
}
