.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 0.5rem;
  padding-left: 10px;
}

.items {
  margin: 0;
  padding: 0.5rem 1rem;

  list-style: none;
  color: white;

  border-radius: 3px;
}

.items:hover {
  color: #00bc8c;
  text-decoration: none;

  background-color: #444444;
}
