
@keyframes ldio-jcl6f8vdni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-jcl6f8vdni div {
  position: absolute;
  top: 48px;
  left: 94px;

  width: 12px;
  height: 24px;

  background: #1593ab;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;

  animation: ldio-jcl6f8vdni linear 1s infinite;
}.ldio-jcl6f8vdni div:nth-child(1) {
  background: #1593ab;
  transform: rotate(0deg);

  animation-delay: -0.9166666666666666s;
}.ldio-jcl6f8vdni div:nth-child(2) {
  background: #1593ab;
  transform: rotate(30deg);

  animation-delay: -0.8333333333333334s;
}.ldio-jcl6f8vdni div:nth-child(3) {
  background: #1593ab;
  transform: rotate(60deg);

  animation-delay: -0.75s;
}.ldio-jcl6f8vdni div:nth-child(4) {
  background: #1593ab;
  transform: rotate(90deg);

  animation-delay: -0.6666666666666666s;
}.ldio-jcl6f8vdni div:nth-child(5) {
  background: #1593ab;
  transform: rotate(120deg);

  animation-delay: -0.5833333333333334s;
}.ldio-jcl6f8vdni div:nth-child(6) {
  background: #1593ab;
  transform: rotate(150deg);

  animation-delay: -0.5s;
}.ldio-jcl6f8vdni div:nth-child(7) {
  background: #1593ab;
  transform: rotate(180deg);

  animation-delay: -0.4166666666666667s;
}.ldio-jcl6f8vdni div:nth-child(8) {
  background: #1593ab;
  transform: rotate(210deg);

  animation-delay: -0.3333333333333333s;
}.ldio-jcl6f8vdni div:nth-child(9) {
  background: #1593ab;
  transform: rotate(240deg);

  animation-delay: -0.25s;
}.ldio-jcl6f8vdni div:nth-child(10) {
  background: #1593ab;
  transform: rotate(270deg);

  animation-delay: -0.16666666666666666s;
}.ldio-jcl6f8vdni div:nth-child(11) {
  background: #1593ab;
  transform: rotate(300deg);

  animation-delay: -0.08333333333333333s;
}.ldio-jcl6f8vdni div:nth-child(12) {
  background: #1593ab;
  transform: rotate(330deg);

  animation-delay: 0s;
}
.loadingio-spinner-spinner-8evq3jpxc2n {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;

  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-jcl6f8vdni {
  position: relative;

  width: 100%;
  height: 100%;

  transform: translateZ(0) scale(1);
  transform-origin: 0 0; /* see note above */
  backface-visibility: hidden;
}
.ldio-jcl6f8vdni div {
  box-sizing: content-box;
}
